@media (prefers-color-scheme: dark) {
    body {
        background: var(--darkbackground);
        color: var(--white);
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    p,
    ul,
    li,
    .article-meta a,
    a.article-title,
    .article-entry a,
    .article-more-link a,
    #comments a,
    .archive-year-wrap a,
    .archive-category-wrap a,
    .archive-tag-wrap a,
    .archive-article-title,
    #page-nav a,
    #footer a,
    .article-entry .gist .gist-file .gist-meta a,
    .layout-wrap-inner .category-list a,
    .tag-cloud a,
    .article-entry pre,
    a.main-nav-link,
    .article-nav-link-wrap,
    .article-entry code {
        color: var(--white);
    }
    .article-entry code {
        background: var(--darkbackground);
    }
}

